<launch>
				<!--  ************** Odometry ***************  -->
	<arg name="gui" default="True" />
	<param name="/use_sim_time" value="false"/>
	<param name="use_gui" value="$(arg gui)"/>
	<param name="robot_description" command="cat $(find testbot_description)/urdf/robot.urdf" />

	<include file="$(find rplidar_ros)/launch/rplidar.launch"/>
	
	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
	
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
	
		
	<!--node name="nox_controller" pkg="testbot_description" type="nox">
		<param name="publish_tf" value="true" />
    		<param name="publish_rate" value="10.0" />
    		<param name="linear_scale_positive" value="1.025" />
    		<param name="linear_scale_negative" value="1.025" />
    		<param name="angular_scale_negative" value="1.078" />
		<param name="angular_sar_scale_positive" value="1.078" />
    		<param name="angulcale_accel" value="0.0" />
	</node-->	

	<node name="transforms" pkg="testbot_description" type="transforms"/>

	<!--include file="$(find testbot_description)/launch/navigationconfig.launch"/-->

</launch>
