<launch>

  <arg name="model" default="$(find testbot_description)/urdf/robot.xacro"/>
  <arg name="gui" default="true" />
  <arg name="rvizconfig" default="$(find urdf_tutorial)/rviz/urdf.rviz" />

  <param name="robot_description" command="$(find xacro)/xacro --inorder $(arg model)" />
  <param name="use_gui" value="$(arg gui)"/>

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  <!--node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" /-->


  <!-- Map server -->
  <!--node name="map_server" pkg="map_server" type="map_server" args="/home/dev/catkin_ws2/src/testbot_description/maps/maphouse.yaml"/-->


  <include file="$(find realsense2_camera)/launch/rs_camera.launch"/>

  <node pkg="depthimage_to_laserscan" type="depthimage_to_laserscan" name="depthimage_to_laserscan">
    <param name="scan_height" value="1"/>
    <param name="output_frame_id" value="base_link"/>
    <remap from="image" to="/camera/depth/image_rect_raw" />
  </node>
                                                                           

</launch>
  